@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-playpen: "Playpen Sans", cursive;
  --font-gluten: "Gluten", cursive;
}